.weathercontainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.date {
    font-size: 1.2em;
}

.singleDay {
    cursor: pointer;
}

.singleDay:hover img {
    background-color: #ffc107;
    transition: all 0.2s;
}